body{
-webkit-font-smoothing:antialiased
}
a[href$="?user_group_id=JobSeeker"],div.login-help>div{display:none}.main-banner{background-position:center}.main-banner__head h1,.main-banner__head h1 span,.main-banner__head p{color:black!important }.btn__blue{background:#00c8e2!important;border-color:#00c8e2!important}.btn__blue:hover{background:#00b2ca!important}.btn__orange{background:#fd6767!important;border-color:#fd6767!important}.btn__orange:hover{background:#e44444!important}.featured-companies__jobs,.listing-item__title a,.listing-item__title a:hover{color:#65c9e4}.details-header,.jobs-by__wrapper,.middle-banner{background-color:#25323f}.jobs-by .container:after,.jobs-by .container:before{background:-webkit-linear-gradient(0deg,#65c9e4 65%,rgba(65,157,212,0) 100%,rgba(65,157,212,0) 100%);background:-moz-linear-gradient(0deg,#65c9e4 65%,rgba(65,157,212,0) 100%,rgba(65,157,212,0) 100%);background:-o-linear-gradient(0deg,#65c9e4 65%,rgba(65,157,212,0) 100%,rgba(65,157,212,0) 100%);background:-ms-linear-gradient(0deg,#65c9e4 65%,rgba(65,157,212,0) 100%,rgba(65,157,212,0) 100%);background:linear-gradient(0deg,#65c9e4 65%,rgba(65,157,212,0) 100%,rgba(65,157,212,0) 100%)}.jobs-by a{color:#fff}.job-type__value{border-color:#3f9fb9}.middle-banner .btn-post-job{color:#3f9fb9}@media(min-width:992px){.navbar-brand{height:100px;width:210px}.navbar .visible-md.visible-lg{margin-top:-5px}.logo{padding-bottom:11px;padding-top:5px}.navbar .navbar-right{margin-top:10px}}@media(max-width:850px){.main-banner__head p{display:none}.main-banner__head h1{width:55%;margin:0 auto}}@media(max-width:768px){.main-banner{background-color:#cbdade;background-image:none}.main-banner__head h1{width:46%}}@media(max-width:600px){.main-banner__head h1{width:75%}}@media(max-width:420px){.main-banner{height:230px}}

pagin.ation {
  margin: 20px 0;
}

.pagination ul {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination ul > li {
  display: inline;
}

.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0;
}

.pagination ul > li > a:hover,
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #f5f5f5;
}

.pagination ul > .active > a,
.pagination ul > .active > span {
  color: #999999;
  cursor: default;
}

.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover {
  color: #999999;
  cursor: default;
  background-color: transparent;
}

.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}

.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
}
